[Desktop Entry]
Version=1.0
Type=Application
Name=MoBa-Edit
Exec=moba-edit
Comment=Editor
Icon=moba-edit
Terminal=0
Categories=Editor
Encoding=UTF-8

